---
layout: compress
---
<!DOCTYPE html>
<html lang="{% if page.language %}{{ page.language | downcase }}{% else %}{{ site.language | downcase }}{% endif %}">
{% include head.html %}

<body class="home-template">
    <div class="site-wrapper">
        {{ content }}
        {% include footer.html %}
    </div>
    <script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.5/dist/cookieconsent.js"></script>
    <script defer src="/consent.js"></script>
</body>

{% include global.html %}
</html>
